{{- $profile := (stdinIsATTY | ternary (promptStringOnce . "profile" "Profile (work/private)") "private") -}}
encryption = "age"

[data]
    profile = {{ $profile | quote }}

[git]
    autoCommit = true
    autoPush = true

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.initial-setup.sh"

[hooks.apply.pre]
    command = ".local/share/chezmoi/.signin-1password.sh"

[age]
    command = "rage"
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age18xjknv8wd5s86fy89zr7ka5cr2kmawtfwhn3enz7e0mlxa4nqfnqvdkd4a"

[onepassword]
    command = "/opt/homebrew/bin/op"
    prompt = false
