[user]
	email = {{ onepasswordRead "op://Private/i7ele4uunzhsfftktty3xw7l7i/ilti64xnedpbvzb2ep6mvlxdey" }}
	signingkey = {{ onepasswordRead "op://Private/i7ele4uunzhsfftktty3xw7l7i/ehz4eboqw5mlo5vrjdtbqddpgu" }}
