{{- $profile := index . "profile" | default "private" -}}
[user]
	name = Matthias Hamacher
	email = {{ if eq $profile "work" }}{{ onepasswordRead "op://Private/Github/basecom" }}{{ else }}{{ onepasswordRead "op://Private/Github/username" }}{{ end }}
	signingkey = {{ if eq $profile "work" }}{{ onepasswordRead "op://Private/Github/Singing Keys/basecom" }}{{ else }}{{ onepasswordRead "op://Private/Github/Singing Keys/mhamacher.dev" }}{{ end }}
{{ if eq $profile "work" -}}
[includeIf "gitdir:/Volumes/Projects/basecom/"]
	path = /Users/matthiashamacher/.gitconfig_bsc
{{ end -}}
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
	format = openpgp
[core]
	excludesfile = /Users/matthiashamacher/.gitignore
	whitespace = space-before-tab,-indent-with-non-tab,trainiling-space
	trustctime = false
	precomposeunicode = false
	untrackedCache = true
[apply]
	whitespace = fix
[color]
	ui = auto
[diff]
	renames = copies
	colorMoved = zebra
[diff "bin"]
	textconv = hexdu
[help]
	autocorrect = 1
[init]
	defaultBranch = main
[push]
	autoSetupRemove = true
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[tag]
	gpgsign = true
