#!/bin/sh

[ -x /opt/homebrew/bin/brew ] && eval "$(/opt/homebrew/bin/brew shellenv)"

open -n /Applications/Orbstack.app

read -s -p "Press any key when Orbstack is read and the docker command installed..."
echo
hash -r

{{ range .docker.registries }}
op read {{ .password | quote }} | docker login {{ .name }} --username {{ .username }} --password-stdin
{{ end -}}
