#!/bin/sh

# Folder structure is defined in .chezmoidata/folderstructure.yaml {{ include ".chezmoidata/folderstructure.yaml" | sha256sum }}

# Create private folder structure
echo "Creating private folder structure..."
{{ range .folderstructure.private -}}
mkdir -p "/Volumes/Projects/{{ . }}"
{{ end -}}
