#!/bin/sh

[ -x /opt/homebrew/bin/brew ] && eval "$(/opt/homebrew/bin/brew shellenv)"

echo {{ onepasswordRead "op://Private/ztjh3xduukryzqxwkwewdsimse/gpg-devops.asc" | quote }} > gpg-devops.asc
echo {{ onepasswordRead "op://Private/ztjh3xduukryzqxwkwewdsimse/gpg-devops-pub.asc" | quote }} > gpg-devops-pub.asc
echo {{ onepasswordRead "op://Employee/t424yskrfwoaionfklgv3laqlm/gpg-maha.asc" "mahadigital.1password.eu" | quote }} > gpg-maha.asc
echo {{ onepasswordRead "op://Employee/t424yskrfwoaionfklgv3laqlm/gpg-maha-pub.asc" "mahadigital.1password.eu" | quote }} > gpg-maha-pub.asc
echo "{{- onepasswordDocument "744emxxksnmhnxx234ibuqh6me" -}}\c" > gpg-ownertrust.txt

gpg --import gpg*.asc
gpg --import-ownertrust gpg-ownertrust.txt

rm -rf gpg*.asc
rm -rf gpg-ownertrust.txt