{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh

brew bundle --file=/dev/stdin <<EOF
{{ range .taps.darwin -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.darwin -}}
brew {{ . | quote }}
{{ end -}}
{{ range .casks.darwin -}}
cask {{ . | quote }}
{{ end -}}
{{ range .apps.darwin -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
{{ range .vscode.darwin -}}
vscode {{ . | quote }}
{{ end -}}
EOF
{{ end -}}